<div>
    My Sweet Page
    <div id="latitude">No Lat. Yet!</div>
    <div id="hidden-modal"></div>
    
    <script type="text/javascript">
        var productSchoolLat = "37.796465";
        var productSchoolLng = "-122.402492";

        $.ajax({
          url: 'stripe.com/charges',
          type: 'POST',
          data: {
              customerId: '123',
              amountCents: '10034'
          } ,
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            console.log("SUCCESS");
            console.log(response);
            
            $('#hidden-modal').html(
              '<div>
                Charges have been posted for customer #...
              </div>'
              )
          },
          error: function (error) {
            console.log("FAILURE");
            console.log(error);
          }
        });
    </script>
</div>